<div class="block-4 text-center border">
    <figure class="block-4-image">
        <!-- <div class="img1" [ngClass] = "{'img2':productList.setimg2, 'img3':productList.setimg3,'img4':productList.setimg4, 'img5':productList.setimg5}">
        </div>  -->
        <a [routerLink]="productList._id" (click)="setItems()"><img src="./assets/images/{{ productList.image }}" alt="Image placeholder" class="img-fluid"></a>
    </figure>
    <div class="block-4-text p-4">
        <h3><a  [routerLink]="productList._id" (click)="setItems()">{{ productList.prodName }}</a></h3>
        <p class="mb-0">{{ productList.description}}</p>
        <p class="text-primary font-weight-bold">{{ productList.price }}</p>
    </div>
</div>